 body {
            font-family: Arial, sans-serif;
            background: white;
            text-align: center;
            padding: 50px;
        }

        .container {
            background: lightblue;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            margin: auto;
         
        }

        input {
            width: 80%;
            padding: 8px;
            margin: 5px;
        }

        button {
            padding: 10px 15px;
            margin-top: 10px;
            cursor: pointer;
        }

        h2 {
            color:brown;
        }
    